/*------------------------------------*\
  Elements > code & pre
\*------------------------------------*/

pre,
code {
  font-family: $font-base;
  background-color: $bg-color-gray;
}

pre {
  overflow: auto;
  padding: 1.25rem 1rem;
  margin-bottom: 2rem;
  font-size: $font-size-base;
  line-height: $line-height-base;
  white-space: pre-wrap;
  word-wrap: break-word;
  &.highlight{
    font-family: $font-monospace;
  }
}

li code,
p code {
  padding: 5px 7px;
}