.badge {
  &:before {
    content: "(";
  }

  &:after {
    content: ")";
  }
}

.name {
  &::first-letter {
    text-transform: uppercase;
  }
}

br {
  font-family: serif;
}

.c-categories {
  a {
    display: block;
    text-align: center;
    padding-bottom: 1rem;
    color: #2B5F72;
  }
}

img+em {
  display: block;
  padding: 1rem 0 0;
  text-align: center;

  &+img {
    padding-top: 1rem;
  }
}

h5 {
  margin-bottom: 1rem;
}

blockquote {

  ul,
  ol {
    li {
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }
}