---
layout: default
---

{% include base_path %}

{% if page.image %}
<meta itemprop='og:image' content='{{ base_path }}{{ page.image }}'>
{% endif %}

<div class='o-wrapper'>

  <div class='o-grid' style="display: block;">
    <div class='o-grid__col' style="float: none;">
      <article class='c-post' itemscope itemtype='http://schema.org/BlogPosting' style="margin-bottom: 1rem;">

        <h1 class='c-post__title u-text-center'>{{ page.title }}</h1>
        <time class='c-post__date' datetime='{{ page.date | date_to_xmlschema }}'
          itemprop='datePublished'>{{ page.date | date: '%Y년 %m월 %d일' }}</time>
        {%- if page.last_modified_at -%}
        Update : <time class='c-post__date' datatime='{{ page.last_modified_at | date: date_format }}'>
          {{ page.last_modified_at | date: date_format }}
        </time>
        {%- else -%}
        Update : {{ page.date | date: date_format }}
        {%- endif -%}
        <div class='c-content' itemprop='articleBody'>
          {% include page-image.html %}

          {{ content }}
        </div>

        <div class='c-tags'>
          {% for tag in page.tags %}
          <a href='{{ site.baseurl }}/tag/{{ tag }}'>{{ tag }}</a>
          {% endfor %}
        </div>
        {% include disqus.html %}
      </article>
    </div>
  </div>
</div>