---
layout: default
---

{% include base_path %}

{% if page.image %}
<meta itemprop='og:image' content='{{ base_path }}{{ page.image }}'>
{% endif %}

<div class='o-wrapper'>

  <div class='o-grid' style="display: block;">
    <div class='o-grid__col' style="float: none;">
      <article class='c-post' itemscope itemtype='http://schema.org/BlogPosting' style="margin-bottom: 1rem;">

        <h1 class='c-post__title u-text-center'>{{ page.title }}</h1>
        <time class='c-post__date' datetime='{{ page.date | date_to_xmlschema }}'
          itemprop='datePublished'>{{ page.date | date: '%Y년 %m월 %d일' }}</time>
        {% if post.last_modified_at %}
        (Updated: <time
          datetime="{{ post.last_modified_at | date_to_xmlschema }}">{{ post.last_modified_at | date: "%b %-d, %Y" }}</time>)
        {% endif %}
        <p class="post-meta">
          <time datetime="{{ page.date | date_to_xmlschema }}"
            itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
          {% if page.last_modified_at %}
          (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}"
            itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
          {% endif %}
          {% if page.author %}
          • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span
              itemprop="name">{{ page.author }}</span></span>
          {% endif %}
        </p>

        <div class='c-content' itemprop='articleBody'>
          {% include page-image.html %}

          {{ content }}
        </div>

        <div class='c-tags'>
          {% for tag in page.tags %}
          <a href='{{ site.baseurl }}/tag/{{ tag }}'>{{ tag }}</a>
          {% endfor %}
        </div>
        {% include disqus.html %}
      </article>
    </div>
  </div>
</div>